/*page CATERING*/

#page__catering{
    height: map-get($map: $heights, $key:'h80');
	background-image: url(../img/bgcatering.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;    	
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #B5B5B5;
        opacity: .87;
        justify-content: space-between;
        h1{
            font-family: $cursiveFont;
            font-size: 9rem;
            color: $color4; 
        }
        p{
            color: $color_w;
            font-size: 1.7rem;  
        }
        a{
            background-color: $color4;
            text-decoration: none;
            padding: 10px;
            position: relative;
            left: 10%;
            top: 29px;
            opacity: 1;
        }

    }

}


/* PAGE MENU */

.page__menu{
    height: map-get($map: $heights, $key:'h100');
    background-color: #9acfdb;
}

.img__card{
    max-height: 100px; 
}

/* platillos */
.section__menu{
	background-color: #9acfdb;
	opacity: 1;
	width: 100%;
	
}

.section__menu--carta{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

/* PAGE NOSOTROS */

.nosotros__img{
	border-radius: 60%;
	border: 10px double #ffc152;
    animation-name: animopacity;
    animation-duration: 4s;

}

.nosotros__img:hover{
    transform: scale(1.014);
    border-radius: 60%;
    border:none;
}

/* PAGE CONTACTO */

.input__texto{
	width: 40rem;
	height: 20rem;

}

.boton__contacto{
    font-family: 'Gentium Plus', serif;
    font-size: 2rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #b22420;
    opacity: .8;
    border: none;

}

.input__boton{
	opacity: 1;
	margin: 5px 5px 20px 40px;
}

/* PAGE CONTACTO */

.page__contacto{
    height: map-get($map: $heights, $key:'h75');
}

fieldset{
	margin: 20px;
	/* max-width: 60%; */
	text-align: left;
	border-style: double;
	border-color:  #b22420;
	font-family: 'Roboto', sans-serif;
	color: #085492;
	font-size: 2rem;
	padding: 10px;
}

label{
    font-family: 'Quando', serif;
    color: #b22420;
    font-size: 2.5rem;
    font-weight: 900;
	
 } 
