// ================= COLORS ===============

$color1:#085492;
$color2:#9acfdb;
$color3:#b22420;
$color4:#ffc152;
$color5:#ffc0cb;
$color_w:#f7fbff;
$color_b:#07090a;
$color_t:#000000c7;
$color_tgrey:#B5B5B5;

// ================= FONTS ============

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Quando&family=Roboto&family=Send+Flowers&display=swap');


// FontsTipes

$mainFont:'Roboto', sans-serif;
$titleFont: 'Quando', serif;
$cursiveFont: 'Send Flowers', cursive;


// Fonts Sizes

$textXS: 1rem;
$textSM: 1.5rem;
$textMD: 2rem;
$textLG: 3rem;
$textXL: 3.5rem;
$textXXL: 6rem;


// MAPS 4 heights

$heights:(
    'h100':100vh,
    'h80':80vh,
    'h84':84vh,
    'h75':75vh,
    'h60':60vh,
    'h40':40vh,
    'h10':10vh,
);